[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
mysqlclient = "*"
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
pymongo = "*"
django-enumfield = "*"

[requires]
python_version = "3.7"
